    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a href="{{ path('default_index') }}" class="navbar-brand">Página de inicio</a>
        <a href="{{ path('default_index_company') }}" class="navbar-brand">Empresa</a>
        <a href="{{ path('default_index_sector') }}" class="navbar-brand">Sector</a>
    </nav><br>
