    <nav>
        <a href="{{ path('default_index') }}">Página de inicio</a>
        <a href="{{ path('default_index_company') }}">Empresa</a>
        <a href="{{ path('default_index_sector') }}">Sector</a>
    </nav><br>
