{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <p>¿Seguro que quiere eliminar la empresa de la base de datos?</p>
    <button><a href="{{ path('default_index_eliminar_empresa') }}">Cancelar</a></button>
    <button><a href="{{ path('default_index_eliminar_empresa', { id: id }) }}">Eliminar</a></button>
{% endblock %}