{% extends 'base.html.twig' %}

{% block header %}
    {{ include('partial/header.html.twig') }}
{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>         
            </tr>
        </thead>
        <tbody>
        {% for sector in sectors %}
            <tr>
                <td>{{ sector.Nombre }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}